@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background: #16222a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a6073, #16222a);
	background: linear-gradient(to right, #3a6073, #16222a);

	font-size: 1.1rem;
	font-family: 'Quicksand', sans-serif;
	height: 100%;
}
